fabric-network/identity-services/cryptos/bin/*
fabric-network/identity-services/fabric-ca/bin/*
fabric-network/identity-services/ldap/bin/*
fabric-network/network/bin/*
fabric-network/network/chaincode/bin/*
fabric-network/network/chaincode/src/reward/vendor
fabric-network/network/chaincode/src/reward/reward
fabric-network/network/chaincode/src/reward/go.sum
fabric-network/network/chaincode/src/reward/go.mod